# Project specific binaries

example/main
example/large/large
example/example1/example1

# Test workbooks
*.xlsx

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

*.exe

.DS_Store
.monitor
_*
*.sublime-workspace
*.swp
